<div class="container">
  
<h1 class="text-center ">{{title}}</h1>
<h1>Add Items</h1>
<input type="text" [(ngModel)]="inputValue.content" placeholder="Enter new task" name="inputValue" #task/>
<br> <br>
<button (click)="addtask(task.value)" *ngIf="!editValue" class="addButton"> ADD TASK</button>
<button (click)="updateTask(task.value)" *ngIf="editValue" class="addButton">Update</button>
<br>
<ul *ngFor = "let item of list" class="list-unstyled">
  <li>

    {{item.name}} <button (click)="removeTask(item.id)" class="removeBtn">Remove</button>
    <button (click)="editTask(item)">Edit</button>
    <button (click)="doneTask(item)">Done</button>
  </li>
</ul>
</div>
<div class="doneColumn">
  
  <h1 class="text-center ">Done</h1>
  <ul *ngFor = "let task of doneList" class="list-unstyled">
    <li>
      {{task.name}}
    </li>
  </ul>
  </div>
